.sign_button{
    width: 80px;
    height: 35px;
    background: #E50914;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.sign_button:hover {
    cursor: pointer;
}

.sign_button:focus{
    outline: none;
}