.user_settings{
    padding: 150px 50px 50px 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.user_settings h2{
    color: #fff;
}

.user_settings h2{
    color: #fff;
}

.user_settings ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.user_settings ul li{
    margin: 5px;
}

.user_settings ul li:hover{
    cursor: pointer;
}

.user_settings ul li img{
    width: 100px;
    height: auto;
    border-radius: 4px;
    user-select: none;
}

.user_settings input{
    height: 40px;
    width: 200px;
    padding-left: 10px;
}

.user_settings .buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.user_settings button{
    width: 80px;
    height: 35px;
    background: #E50914;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.user_settings button:hover{
    cursor: pointer;
}

.user_settings button:focus{
    outline: none;
}

.user_settings button:active{
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.3),
                inset -2px -2px rgba(0, 0, 0, 0.3)
}

.user_settings .active_img{
    position: relative;
}

.user_settings .active_img::after{
    content: "\2713";
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #E50914;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
}